{% extends "base.html" %}


{% block title %}
    <!-- view tab title goes here -->
    No Name
{% endblock %}



{% block content %}

    Please login
    <form action="?" method="POST">
        <input type="text" placeholder="user" name="username" value="user">
        <input type="text" placeholder="pass" name="password" value="pass">
        <button type="submit">Login</button>
    </form>
    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}

{% endblock %}



{% block scripts %}
    <!-- scripts goes here -->
    <script type="application/javascript">
        console.log("Hello World!")
    </script>
{% endblock %}


{% block styles %}
    <!-- styles goes here -->
{% endblock %}





